.PolicyText {
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin: 10px 0 10px 0;
}

.p1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: var(--nav-links-font-size-height);
    line-height: 24px;
    font-weight: normal;
}