.middlesect {
    background-image: var(--navbar-background);
    object-fit: cover;
}

.contentMiddle {
    max-height: 400px;
    display: flex;
    justify-content: space-around;
}

.h2 {
    color: white;
    font-size: 34px;
}

.contentText {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 60px;
}

.imgMiddle {
    max-height: 480px;
    max-width: 480px;
    position: relative;
    bottom: 100px;
}

.p1 {
    font-weight: 200;
    font-size: var(--nav-links-font-size-height);
    line-height: 24px;
}

@media (max-width: 1024px) {
    .h2 {
        font-size: 24px;
    }

    .contentText {
        padding-top: 5px;
    }

    .imgMiddle {
        max-height: 280px;
        max-width: 280px;
        position: relative;
        bottom: 50px;
    }

    .contentMiddle {
        max-height: 500px;
        align-items: center;
    }

}

@media (max-width: 560px) {
    .h2 {
        font-size: 16px;
    }

    .p1 {
        line-height: 16px;
        font-size: 14px;
    }



}