.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    font-weight: 600;
    font-size: var(--nav-links-font-size-height);
    line-height: var(--nav-links-font-size-height);
}

.Header {
    background-image: var(--navbar-background);
}

.footerText {
    max-width: 820px;
    display: block;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    max-height: 96px;
    -webkit-font-smoothing: antialiased;
}

.Footer {
    background-color: transparent;
    background-image: var(--navbar-background);
    padding-bottom: 50px;

}

.footerbottom {
    display: flex;
    justify-content: center;
}